<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <header><%- include('header') %></header>
    <section>
      <p>Bonjour <%= firstname %> <%= lastname %>,</p>
      <p>Votre compte est : <b><%= activation %></b></p>
    </section>
    <footer><%- include('footer') %></footer>
  </body>
</html>
