<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <header>
      <%- include('header') %>
    </header>
    <section>
      <p>Bonjour <%= firstname %> <%= lastname %>,</p>
      <p>
        Votre nouveau mot de passe est : <b><%= password %></b>
      </p>
    </section>
    <footer>
      <%- include('footer') %>
    </footer>
  </body>
</html>